<template>
  <div v-if="!displayedPlace.name" class="container mt-4">
    <h1 class="is-size-1">Discov'Angou</h1>
    <p class="mb-6 has-text-left px-4">Tu t'ennuies à l'arrêt de bus ? Trouve les QR codes cachés dans les arrêts de bus et apprends-en plus sur le lieu où tu attends !</p>

    <div class="px-4">
      <span>{{ discoveredPlaces.length }} / {{ places.length }}</span>
      <progress
          class="progress is-link mb-6"
          :value="discoveredPlaces.length"
          :max="places.length">

      </progress>
    </div>


    <div class="columns is-centered">
      <Place
          class = "column is-one-quarter"
          v-for="(p,index) in places"
          :key="index"
          :name="p.name"
          :discovered="p.discovered"
          @click="displayPlace(p)"
      ></Place>
    </div>
  </div>

  <div v-else>
    <div
        class="button is-white"
        @click="displayedPlace = {}"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>
    </div>
    <PlacePage  :place="displayedPlace"></PlacePage>
  </div>
</template>

<script>
import Place from './Place.vue'
import PlacePage from "./PlacePage";

export default {
  name: 'PlaceList',
  components: {PlacePage, Place },

  data: () => ({
    places: [

    ],

    displayedPlace: {}
  }),

  created() {
    this.places = require('@/places.js');

    this.load()

    if(window.location.hash) {
      let h = window.location.hash.substring(1);

      this.places = this.places.map(place => {
        if (place.hash === h) {
          place.discovered = true;
        }

        return place;
      });

      this.save();
    }
  },

  mounted() {
  },

  methods: {
    save() {
      window.localStorage.setItem("discoveredPlaces", this.discoveredPlaces);
    },
    load() {
      let s = window.localStorage.getItem("discoveredPlaces");
      if (!s) return false;

      let arr = s.split(",");

      this.places.forEach((place,key) => {
        if (arr.find(p => p === place.name))
            this.places[key].discovered = true;
      });
      return true;
    },
    displayPlace(place) {
      if (place.discovered) this.displayedPlace = place
    }
  },

  computed: {
    discoveredPlaces() {
      return this.places.filter(place => place.discovered).map(place => place.name)
    }
  }
}
</script>


<style scoped lang="sass">
</style>
