<template>
  <div>

    <h1 class="is-size-1 mt-6"> {{ place.name || "Pas de titre" }}</h1>

    <p> {{ place.description || "Pas de description" }}</p>
  </div>
</template>

<script>
export default {
  name: "PlacePage",
  props: [ "place" ]
}
</script>

<style scoped lang="sass">
.svg
  position: absolute
  top: 24px
  left: 24px
  cursor: pointer
</style>