<template>
  <div id="root" class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <div class="image">
      <img src="https://picsum.photos/150/150" alt="" class="is-rounded" :class="{isHidden : !discovered}" />
    </div>
    <span>{{name}}</span>
  </div>
</template>

<script>
export default {
  name: "Place",
  props: ["name", "discovered"]
}
</script>

<style scoped lang="sass">
.isHidden
  filter: grayscale(100%) blur(5px)

#root
  cursor: pointer
</style>