<template>
  <PlaceList />
</template>

<script>
import PlaceList from './components/PlaceList.vue'

export default {
  name: 'App',
  components: {
    PlaceList
  }
}
</script>

<style lang="scss">

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}
</style>
